body {
  /* background-color: #aaa7a6; */
  background-color: #cad5e2;
}
.block {
  margin: 20px auto;
  border-radius: 10px 10px 10px 10px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  background-color: #f3f3f3;
}
.product-img {
  margin: 10px;
  height: 400px;
  margin-left: 10%;
  margin-right: 10%;
}
.card-img {
  border-radius: 10px;
  height: 400px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  font-size: 34px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: 'Bentham', serif;
}

.product-text h2 {
  margin: 0 0 30px 38px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  margin: 0 0 0 38px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  position: relative;
  margin-top: 17px;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  font-family: 'Trocchi', serif;
  margin: 15px 0 0 38px;
  font-size: 24px;
  font-weight: lighter;
  color: #474747;
}
.mrp {
  display: inline-block;
  height: 50px;
  font-family: 'Suranna', serif;
  font-size: 20px;
  margin-right: 5px;
  text-decoration: line-through;
}

.product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 136px;
  margin: 0 20px 0 10px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #f3f3f3;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.select {
  padding-left: 5px;
  margin: 0 0 20px 28px;
  width: auto;
  font-size: 14px;
  line-height: 18px;
  background-color: #f3f3f3;
  border: none;
}
option {
  font-size: 14px;
}
footer {
  width: 100%;
  background-color: #263238;
  padding: 10px 0px 25px 0px;
}
footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}
.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
}
.foote_bottom_ul_amrc li {
  display: inline;
}
.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
  text-decoration: none;
}
.foote_bottom_ul_amrc li a:hover {
  color: #ffffff;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}
.social_footer_ul li {
  padding-right: 20px;
  padding-top: 10px;
  float: left;
}
.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}
.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}
.table tr {
  text-align: center;
}

/*Side menu*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 36px;
  margin-left: 50px;
}

/*For Search Box*/
input {
  outline: none;
  margin-left: 10px;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

input[type='search'] {
  background: #ededed
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
input[type='search']:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66cc75;

  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}

input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

.searchbar {
  margin-top: 10px;
}

.searchbar input[type='search'] {
  width: 20px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
.searchbar input[type='search']:hover {
  background-color: #fff;
}
.searchbar input[type='search']:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
.searchbar input:-moz-placeholder {
  color: transparent;
}
.searchbar input::-webkit-input-placeholder {
  color: transparent;
}

/*404 page*/
.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(img/dribbble_1.gif);
  height: 400px;
  background-position: center;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 20px;
  background: #9cebd5;
  margin: 20px 0;
  display: inline-block;
}
.contant_box_404 {
  margin-top: -50px;
}

.multiColorBox {
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .multiColorBox {
    margin-top: 17px;
  }
}
